In [3]:
from pyspark.sql import SparkSession

spark = SparkSession\
.builder\
.master("yarn")\
.appName("aggregation functions")\
.enableHiveSupport()\
.config("spark.sql.warehouse.dir","/user/itv009490/warehouse")\
.getOrCreate()

spark

In [4]:
orders_schema = 'order_id long, order_date date, customer_id long, order_status string'

In [12]:
df = spark.read.format("csv").\
option("inferSchema","true").\
option("header","true").\
load("/public/trendytech/datasets/order_data.csv")

In [13]:
df.show()

+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|    InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|   536378|     null|PACK OF 60 DINOSA...|      24|01-12-2010 9.37|     0.55|     14688|United Kingdom|
|   536378|     null|PACK OF 60 PINK P...|      24|01-12-2010 9.37|     0.55|     14688|United Kingdom|
|   536378|    84991|60 TEATIME FAIRY ...|      24|01-12-2010 9.37|     0.55|     14688|United Kingdom|
|   536378|   84519A|TOMATO CHARLIE+LO...|       6|01-12-2010 9.37|     2.95|     14688|United Kingdom|
|   536378|   85183B|CHARLIE & LOLA WA...|      48|01-12-2010 9.37|     1.25|     14688|United Kingdom|
|   536378|   85071B|RED CHARLIE+LOLA ...|      96|01-12-2010 9.37|     0.38|     14688|United Kingdom|
|   536378|    21931|JUMBO STORAGE BAG...|      10|01-12-2010 9.37|     1.95|     14688|United Kingdom|
|   536378|    21929|JUMBO BAG PINK VI...|      10|01-12-2010 9.37|     1.95|     14688|United Kingdom|
|   536380|    22961|JAM MAKING SET PR...|      24|01-12-2010 9.41|     1.45|     17809|United Kingdom|
|   536381|    22139|RETROSPOT TEA SET...|      23|01-12-2010 9.41|     4.25|     15311|United Kingdom|
|   536381|    84854| GIRLY PINK TOOL SET|       5|01-12-2010 9.41|     4.95|     15311|United Kingdom|
|   536381|    22411|JUMBO SHOPPER VIN...|      10|01-12-2010 9.41|     1.95|     15311|United Kingdom|
|   536381|    82567|AIRLINE LOUNGE,ME...|       2|01-12-2010 9.41|      2.1|     15311|United Kingdom|
|   536381|    21672|WHITE SPOT RED CE...|       6|01-12-2010 9.41|     1.25|     15311|United Kingdom|
|   536381|    22774|RED DRAWER KNOB A...|      24|01-12-2010 9.41|     1.25|     15311|United Kingdom|
|   536381|    22771|CLEAR DRAWER KNOB...|      24|01-12-2010 9.41|     1.25|     15311|United Kingdom|
|   536381|    71270|     PHOTO CLIP LINE|       1|01-12-2010 9.41|     1.25|     15311|United Kingdom|
|   536381|    22262|FELT EGG COSY CHI...|       1|01-12-2010 9.41|     0.85|     15311|United Kingdom|
|   536381|    22637|PIGGY BANK RETROS...|       1|01-12-2010 9.41|     2.55|     15311|United Kingdom|
|   536381|    21934|  SKULL SHOULDER BAG|      10|01-12-2010 9.41|     1.65|     15311|United Kingdom|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
only showing top 20 rows

In [14]:
from pyspark.sql.functions import *

In [34]:
df.cache()

+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|    InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
|   536378|     null|PACK OF 60 DINOSA...|      24|01-12-2010 9.37|     0.55|     14688|United Kingdom|
|   536378|     null|PACK OF 60 PINK P...|      24|01-12-2010 9.37|     0.55|     14688|United Kingdom|
|   536378|    84991|60 TEATIME FAIRY ...|      24|01-12-2010 9.37|     0.55|     14688|United Kingdom|
|   536378|   84519A|TOMATO CHARLIE+LO...|       6|01-12-2010 9.37|     2.95|     14688|United Kingdom|
|   536378|   85183B|CHARLIE & LOLA WA...|      48|01-12-2010 9.37|     1.25|     14688|United Kingdom|
|   536378|   85071B|RED CHARLIE+LOLA ...|      96|01-12-2010 9.37|     0.38|     14688|United Kingdom|
|   536378|    21931|JUMBO STORAGE BAG...|      10|01-12-2010 9.37|     1.95|     14688|United Kingdom|
|   536378|    21929|JUMBO BAG PINK VI...|      10|01-12-2010 9.37|     1.95|     14688|United Kingdom|
|   536380|    22961|JAM MAKING SET PR...|      24|01-12-2010 9.41|     1.45|     17809|United Kingdom|
|   536381|    22139|RETROSPOT TEA SET...|      23|01-12-2010 9.41|     4.25|     15311|United Kingdom|
|   536381|    84854| GIRLY PINK TOOL SET|       5|01-12-2010 9.41|     4.95|     15311|United Kingdom|
|   536381|    22411|JUMBO SHOPPER VIN...|      10|01-12-2010 9.41|     1.95|     15311|United Kingdom|
|   536381|    82567|AIRLINE LOUNGE,ME...|       2|01-12-2010 9.41|      2.1|     15311|United Kingdom|
|   536381|    21672|WHITE SPOT RED CE...|       6|01-12-2010 9.41|     1.25|     15311|United Kingdom|
|   536381|    22774|RED DRAWER KNOB A...|      24|01-12-2010 9.41|     1.25|     15311|United Kingdom|
|   536381|    22771|CLEAR DRAWER KNOB...|      24|01-12-2010 9.41|     1.25|     15311|United Kingdom|
|   536381|    71270|     PHOTO CLIP LINE|       1|01-12-2010 9.41|     1.25|     15311|United Kingdom|
|   536381|    22262|FELT EGG COSY CHI...|       1|01-12-2010 9.41|     0.85|     15311|United Kingdom|
|   536381|    22637|PIGGY BANK RETROS...|       1|01-12-2010 9.41|     2.55|     15311|United Kingdom|
|   536381|    21934|  SKULL SHOULDER BAG|      10|01-12-2010 9.41|     1.65|     15311|United Kingdom|
+---------+---------+--------------------+--------+---------------+---------+----------+--------------+
only showing top 20 rows

In [35]:
df.count()

541782

In [36]:
df.agg(max(df.Quantity)).show()

+-------------+
|max(Quantity)|
+-------------+
|        80995|
+-------------+

In [37]:
df[['InvoiceNo']].distinct().count()

25858

In [38]:
df[['InvoiceNo']].count()

541782

#### SIMPLE AGGREGATIONS

In [47]:
df.select(count("*").alias("row_count"),countDistinct("InvoiceNo").alias("unique_invoice"),sum("quantity").alias("total quantity"),avg("UnitPrice").alias("avg unit_price")).show()

+---------+--------------+--------------+-----------------+
|row_count|unique_invoice|total quantity|   avg unit_price|
+---------+--------------+--------------+-----------------+
|   541782|         25858|       5175855|4.611565323321927|
+---------+--------------+--------------+-----------------+

In [51]:
df.selectExpr("count(*) as row_count", "count(distinct InvoiceNo) as unique_invoice",
"sum(quantity) as total_quantity",
"avg(UnitPrice) as avg_price").show()

+---------+--------------+--------------+-----------------+
|row_count|unique_invoice|total_quantity|        avg_price|
+---------+--------------+--------------+-----------------+
|   541782|         25858|       5175855|4.611565323321927|
+---------+--------------+--------------+-----------------+

In [52]:
df.createOrReplaceTempView("orders_df")

In [53]:
spark.sql("""select count(*) as row_count, count(distinct InvoiceNo) as unique_invoice,
sum(quantity) as total_quantity,
avg(UnitPrice) as avg_price from orders_df""").show()

+---------+--------------+--------------+-----------------+
|row_count|unique_invoice|total_quantity|        avg_price|
+---------+--------------+--------------+-----------------+
|   541782|         25858|       5175855|4.611565323321927|
+---------+--------------+--------------+-----------------+

#### GROUPING AGGREGATIONS

In [61]:
summary_df = df\
.groupBy("Country","InvoiceNo")\
.agg(sum("quantity").alias("total_quantity"),sum(expr("quantity*unitprice")).alias("InvoiceValue"))\
.sort("InvoiceNo")

In [62]:
summary_df.show()

+--------------+---------+--------------+------------------+
|       Country|InvoiceNo|total_quantity|      InvoiceValue|
+--------------+---------+--------------+------------------+
|United Kingdom|   536378|           242|192.78000000000003|
|United Kingdom|   536380|            24|              34.8|
|United Kingdom|   536381|           198|449.97999999999996|
|United Kingdom|   536382|           134|430.59999999999997|
|United Kingdom|   536384|           190|             489.6|
|United Kingdom|   536385|            53|            130.85|
|United Kingdom|   536386|           236|508.20000000000005|
|United Kingdom|   536387|          1440|           3193.92|
|United Kingdom|   536388|           108|            226.14|
|     Australia|   536389|           107|            358.25|
|United Kingdom|   536390|          1568|           1825.74|
|United Kingdom|   536392|           103|318.14000000000004|
|United Kingdom|   536393|             8|              79.6|
|United Kingdom|   536394|           544|1024.6800000000003|
|United Kingdom|   536395|           260| 507.8800000000001|
|United Kingdom|   536396|           102|376.36000000000007|
|United Kingdom|   536397|            60|             279.0|
|United Kingdom|   536398|           150|426.56000000000006|
|United Kingdom|   536399|            12|22.200000000000003|
|United Kingdom|   536400|            12|              17.4|
+--------------+---------+--------------+------------------+
only showing top 20 rows

In [63]:
summary_df =df.groupBy("Country","InvoiceNo")\
.agg(expr("sum(quantity) as total_quantity"),expr("sum(quantity*unitprice) as invoiceValue"))\
.sort("InvoiceNo")

In [64]:
summary_df.show()

+--------------+---------+--------------+------------------+
|       Country|InvoiceNo|total_quantity|      invoiceValue|
+--------------+---------+--------------+------------------+
|United Kingdom|   536378|           242|192.78000000000003|
|United Kingdom|   536380|            24|              34.8|
|United Kingdom|   536381|           198|449.97999999999996|
|United Kingdom|   536382|           134|430.59999999999997|
|United Kingdom|   536384|           190|             489.6|
|United Kingdom|   536385|            53|            130.85|
|United Kingdom|   536386|           236|508.20000000000005|
|United Kingdom|   536387|          1440|           3193.92|
|United Kingdom|   536388|           108|            226.14|
|     Australia|   536389|           107|            358.25|
|United Kingdom|   536390|          1568|           1825.74|
|United Kingdom|   536392|           103|318.14000000000004|
|United Kingdom|   536393|             8|              79.6|
|United Kingdom|   536394|           544|1024.6800000000003|
|United Kingdom|   536395|           260| 507.8800000000001|
|United Kingdom|   536396|           102|376.36000000000007|
|United Kingdom|   536397|            60|             279.0|
|United Kingdom|   536398|           150|426.56000000000006|
|United Kingdom|   536399|            12|22.200000000000003|
|United Kingdom|   536400|            12|              17.4|
+--------------+---------+--------------+------------------+
only showing top 20 rows