In [94]:
from pyspark.sql import SparkSession

import getpass

username = getpass.getuser()

spark = SparkSession.\
builder. \
config('spark.ui.port','0'). \
config("spark.sql.warehouse.dir", f"/user/{username}/warehouse"). \
enableHiveSupport(). \
master('yarn'). \
getOrCreate()

spark

In [4]:
groceries_df = spark.read.csv("/public/trendytech/groceries.csv",header=True,inferSchema=True)
groceries_df.createOrReplaceTempView("groceries")
spark.sql("select * from groceries").show()

+--------+---------+--------+----------+--------+
|order_id| location|    item|order_date|quantity|
+--------+---------+--------+----------+--------+
|      o1|  Seattle| Bananas|01/01/2017|       7|
|      o2|     Kent|  Apples|02/01/2017|      20|
|      o3| Bellevue| Flowers|02/01/2017|      10|
|      o4|  Redmond|    Meat|03/01/2017|      40|
|      o5|  Seattle|Potatoes|04/01/2017|       9|
|      o6| Bellevue|   Bread|04/01/2017|       5|
|      o7|  Redmond|   Bread|05/01/2017|       5|
|      o8| Issaquah|   Onion|05/01/2017|       4|
|      o9|  Redmond|  Cheese|05/01/2017|      15|
|     o10| Issaquah|   Onion|06/01/2017|       4|
|     o11|   Renton|   Bread|05/01/2017|       5|
|     o12| Issaquah|   Onion|07/01/2017|       4|
|     o13|Sammamish|   Bread|07/01/2017|       5|
|     o14| Issaquah|  Tomato|07/01/2017|       6|
|     o15| Issaquah|    Meat|08/01/2017|       3|
|     o16| Issaquah|    Meat|09/01/2017|       5|
|     o17| Issaquah|    Meat|10/01/2017|       6|
|     o18| Bellevue|   Bread|11/01/2017|       7|
|     o19| Bellevue|   Bread|12/01/2017|      54|
|     o20| Bellevue|   Bread|13/01/2017|      34|
+--------+---------+--------+----------+--------+
only showing top 20 rows

In [5]:
spark.sql("""create table  if not exists 009490_retail.groceries (order_id string, location string,
item string, order_date string, quantity int) """).show()

++
||
++
++

In [6]:
spark.sql("""insert into 009490_retail.groceries select * from groceries""").show()

++
||
++
++

In [7]:
spark.sql("""use 009490_retail""")
spark.sql("""show tables""").show()

+-------------+----------+-----------+
|     database| tableName|isTemporary|
+-------------+----------+-----------+
|009490_retail| groceries|      false|
|009490_retail|orders_ext|      false|
|             | groceries|       true|
+-------------+----------+-----------+

In [8]:
spark.sql("""desc extended 009490_retail.groceries""").show(truncate=0)

+----------------------------+---------------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                        |comment|
+----------------------------+---------------------------------------------------------------------------------+-------+
|order_id                    |string                                                                           |null   |
|location                    |string                                                                           |null   |
|item                        |string                                                                           |null   |
|order_date                  |string                                                                           |null   |
|quantity                    |int                                                                              |null   |
|                            |                                                                                 |       |
|# Detailed Table Information|                                                                                 |       |
|Database                    |009490_retail                                                                    |       |
|Table                       |groceries                                                                        |       |
|Owner                       |itv009490                                                                        |       |
|Created Time                |Sun Oct 29 05:28:50 EDT 2023                                                     |       |
|Last Access                 |UNKNOWN                                                                          |       |
|Created By                  |Spark 3.1.2                                                                      |       |
|Type                        |MANAGED                                                                          |       |
|Provider                    |hive                                                                             |       |
|Table Properties            |[transient_lastDdlTime=1698571735]                                               |       |
|Statistics                  |666 bytes                                                                        |       |
|Location                    |hdfs://m01.itversity.com:9000/user/itv009490/warehouse/009490_retail.db/groceries|       |
|Serde Library               |org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe                               |       |
|InputFormat                 |org.apache.hadoop.mapred.TextInputFormat                                         |       |
+----------------------------+---------------------------------------------------------------------------------+-------+
only showing top 20 rows

In [19]:
spark.sql("""create table  009490_retail.groceries_ext (order_id string, location string,
item string, order_date string, quantity int) using csv location '/public/trendytech/groceries.csv' """).show()

++
||
++
++

In [20]:
spark.sql("""show tables""").show()

+-------------+-------------+-----------+
|     database|    tableName|isTemporary|
+-------------+-------------+-----------+
|009490_retail|    groceries|      false|
|009490_retail|groceries_ext|      false|
|009490_retail|   orders_ext|      false|
|             |    groceries|       true|
+-------------+-------------+-----------+

In [21]:
spark.sql("""desc extended groceries_ext""").show(truncate=0)

+----------------------------+-------------------------------------------------------------+-------+
|col_name                    |data_type                                                    |comment|
+----------------------------+-------------------------------------------------------------+-------+
|order_id                    |string                                                       |null   |
|location                    |string                                                       |null   |
|item                        |string                                                       |null   |
|order_date                  |string                                                       |null   |
|quantity                    |int                                                          |null   |
|                            |                                                             |       |
|# Detailed Table Information|                                                             |       |
|Database                    |009490_retail                                                |       |
|Table                       |groceries_ext                                                |       |
|Owner                       |itv009490                                                    |       |
|Created Time                |Sun Oct 29 05:31:25 EDT 2023                                 |       |
|Last Access                 |UNKNOWN                                                      |       |
|Created By                  |Spark 3.1.2                                                  |       |
|Type                        |EXTERNAL                                                     |       |
|Provider                    |csv                                                          |       |
|Location                    |hdfs://m01.itversity.com:9000/public/trendytech/groceries.csv|       |
|Serde Library               |org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe           |       |
|InputFormat                 |org.apache.hadoop.mapred.SequenceFileInputFormat             |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat    |       |
+----------------------------+-------------------------------------------------------------+-------+

In [22]:
spark.sql("""select * from 009490_retail.groceries limit 10""").show(truncate=0)

+--------+--------+--------+----------+--------+
|order_id|location|item    |order_date|quantity|
+--------+--------+--------+----------+--------+
|o1      |Seattle |Bananas |01/01/2017|7       |
|o2      |Kent    |Apples  |02/01/2017|20      |
|o3      |Bellevue|Flowers |02/01/2017|10      |
|o4      |Redmond |Meat    |03/01/2017|40      |
|o5      |Seattle |Potatoes|04/01/2017|9       |
|o6      |Bellevue|Bread   |04/01/2017|5       |
|o7      |Redmond |Bread   |05/01/2017|5       |
|o8      |Issaquah|Onion   |05/01/2017|4       |
|o9      |Redmond |Cheese  |05/01/2017|15      |
|o10     |Issaquah|Onion   |06/01/2017|4       |
+--------+--------+--------+----------+--------+

In [23]:
spark.sql("""select * from 009490_retail.groceries_ext """).show(truncate=0)

+--------+---------+--------+----------+--------+
|order_id|location |item    |order_date|quantity|
+--------+---------+--------+----------+--------+
|order_id|location |item    |order_date|null    |
|o1      |Seattle  |Bananas |01/01/2017|7       |
|o2      |Kent     |Apples  |02/01/2017|20      |
|o3      |Bellevue |Flowers |02/01/2017|10      |
|o4      |Redmond  |Meat    |03/01/2017|40      |
|o5      |Seattle  |Potatoes|04/01/2017|9       |
|o6      |Bellevue |Bread   |04/01/2017|5       |
|o7      |Redmond  |Bread   |05/01/2017|5       |
|o8      |Issaquah |Onion   |05/01/2017|4       |
|o9      |Redmond  |Cheese  |05/01/2017|15      |
|o10     |Issaquah |Onion   |06/01/2017|4       |
|o11     |Renton   |Bread   |05/01/2017|5       |
|o12     |Issaquah |Onion   |07/01/2017|4       |
|o13     |Sammamish|Bread   |07/01/2017|5       |
|o14     |Issaquah |Tomato  |07/01/2017|6       |
|o15     |Issaquah |Meat    |08/01/2017|3       |
|o16     |Issaquah |Meat    |09/01/2017|5       |
|o17     |Issaquah |Meat    |10/01/2017|6       |
|o18     |Bellevue |Bread   |11/01/2017|7       |
|o19     |Bellevue |Bread   |12/01/2017|54      |
+--------+---------+--------+----------+--------+
only showing top 20 rows

In [24]:
spark.sql("""drop table  009490_retail.groceries """).show(truncate=0)

++
||
++
++

In [25]:
spark.sql("""drop table  009490_retail.groceries_ext """).show(truncate=0)

++
||
++
++

In [42]:
orders = spark.read.json("/public/trendytech/orders_wh.json/part-00000-68544d18-9a34-443f-bf0e-1dd8103ff94e-c000.json")
orders.show()

+-----------+--------------------+--------+---------------+
|customer_id|          order_date|order_id|   order_status|
+-----------+--------------------+--------+---------------+
|      11599|2013-07-25 00:00:...|       1|         CLOSED|
|        256|2013-07-25 00:00:...|       2|PENDING_PAYMENT|
|      12111|2013-07-25 00:00:...|       3|       COMPLETE|
|       8827|2013-07-25 00:00:...|       4|         CLOSED|
|      11318|2013-07-25 00:00:...|       5|       COMPLETE|
|       7130|2013-07-25 00:00:...|       6|       COMPLETE|
|       4530|2013-07-25 00:00:...|       7|       COMPLETE|
|       2911|2013-07-25 00:00:...|       8|     PROCESSING|
|       5657|2013-07-25 00:00:...|       9|PENDING_PAYMENT|
|       5648|2013-07-25 00:00:...|      10|PENDING_PAYMENT|
|        918|2013-07-25 00:00:...|      11| PAYMENT_REVIEW|
|       1837|2013-07-25 00:00:...|      12|         CLOSED|
|       9149|2013-07-25 00:00:...|      13|PENDING_PAYMENT|
|       9842|2013-07-25 00:00:...|      14|     PROCESSING|
|       2568|2013-07-25 00:00:...|      15|       COMPLETE|
|       7276|2013-07-25 00:00:...|      16|PENDING_PAYMENT|
|       2667|2013-07-25 00:00:...|      17|       COMPLETE|
|       1205|2013-07-25 00:00:...|      18|         CLOSED|
|       9488|2013-07-25 00:00:...|      19|PENDING_PAYMENT|
|       9198|2013-07-25 00:00:...|      20|     PROCESSING|
+-----------+--------------------+--------+---------------+
only showing top 20 rows

In [43]:
orders = orders.select("customer_id","order_date","order_id","order_status")
orders.createOrReplaceTempView("orders")

In [44]:
spark.sql("show databases").filter("namespace like '009490%'").show()

+-------------+
|    namespace|
+-------------+
|009490_retail|
+-------------+

In [45]:
spark.sql("""use 009490_retail""")

++
||
++
++

In [50]:
spark.sql("""show tables """).show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
|        |groceries|       true|
|        |   orders|       true|
+--------+---------+-----------+

In [51]:
spark.sql("""create table if not exists 009490_retail.orders_mgd (customer_id string, order_date string, order_id string, order_status string)""").show()

++
||
++
++

In [52]:
spark.sql("""insert into 009490_retail.orders_mgd select * from orders""").show()

++
||
++
++

In [53]:
spark.sql("""desc formatted 009490_retail.orders_mgd """).show(truncate=0)

+----------------------------+----------------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                         |comment|
+----------------------------+----------------------------------------------------------------------------------+-------+
|customer_id                 |string                                                                            |null   |
|order_date                  |string                                                                            |null   |
|order_id                    |string                                                                            |null   |
|order_status                |string                                                                            |null   |
|                            |                                                                                  |       |
|# Detailed Table Information|                                                                                  |       |
|Database                    |009490_retail                                                                     |       |
|Table                       |orders_mgd                                                                        |       |
|Owner                       |itv009490                                                                         |       |
|Created Time                |Sun Oct 29 05:48:21 EDT 2023                                                      |       |
|Last Access                 |UNKNOWN                                                                           |       |
|Created By                  |Spark 3.1.2                                                                       |       |
|Type                        |MANAGED                                                                           |       |
|Provider                    |hive                                                                              |       |
|Table Properties            |[transient_lastDdlTime=1698572903]                                                |       |
|Statistics                  |2999944 bytes                                                                     |       |
|Location                    |hdfs://m01.itversity.com:9000/user/itv009490/warehouse/009490_retail.db/orders_mgd|       |
|Serde Library               |org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe                                |       |
|InputFormat                 |org.apache.hadoop.mapred.TextInputFormat                                          |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat                        |       |
+----------------------------+----------------------------------------------------------------------------------+-------+
only showing top 20 rows

In [54]:
spark.sql("""create table if not exists 009490_retail.orders_ext (customer_id string, order_date string, order_id string, order_status string)
using json location '/public/trendytech/orders_wh.json/part-00000-68544d18-9a34-443f-bf0e-1dd8103ff94e-c000.json'
""").show()

++
||
++
++

In [55]:
spark.sql("""select * from 009490_retail.orders_ext""").show()

+-----------+--------------------+--------+---------------+
|customer_id|          order_date|order_id|   order_status|
+-----------+--------------------+--------+---------------+
|      11599|2013-07-25 00:00:...|       1|         CLOSED|
|        256|2013-07-25 00:00:...|       2|PENDING_PAYMENT|
|      12111|2013-07-25 00:00:...|       3|       COMPLETE|
|       8827|2013-07-25 00:00:...|       4|         CLOSED|
|      11318|2013-07-25 00:00:...|       5|       COMPLETE|
|       7130|2013-07-25 00:00:...|       6|       COMPLETE|
|       4530|2013-07-25 00:00:...|       7|       COMPLETE|
|       2911|2013-07-25 00:00:...|       8|     PROCESSING|
|       5657|2013-07-25 00:00:...|       9|PENDING_PAYMENT|
|       5648|2013-07-25 00:00:...|      10|PENDING_PAYMENT|
|        918|2013-07-25 00:00:...|      11| PAYMENT_REVIEW|
|       1837|2013-07-25 00:00:...|      12|         CLOSED|
|       9149|2013-07-25 00:00:...|      13|PENDING_PAYMENT|
|       9842|2013-07-25 00:00:...|      14|     PROCESSING|
|       2568|2013-07-25 00:00:...|      15|       COMPLETE|
|       7276|2013-07-25 00:00:...|      16|PENDING_PAYMENT|
|       2667|2013-07-25 00:00:...|      17|       COMPLETE|
|       1205|2013-07-25 00:00:...|      18|         CLOSED|
|       9488|2013-07-25 00:00:...|      19|PENDING_PAYMENT|
|       9198|2013-07-25 00:00:...|      20|     PROCESSING|
+-----------+--------------------+--------+---------------+
only showing top 20 rows

In [56]:
spark.sql("""select * from 009490_retail.orders_mgd""").show()

+-----------+--------------------+--------+---------------+
|customer_id|          order_date|order_id|   order_status|
+-----------+--------------------+--------+---------------+
|      11599|2013-07-25 00:00:...|       1|         CLOSED|
|        256|2013-07-25 00:00:...|       2|PENDING_PAYMENT|
|      12111|2013-07-25 00:00:...|       3|       COMPLETE|
|       8827|2013-07-25 00:00:...|       4|         CLOSED|
|      11318|2013-07-25 00:00:...|       5|       COMPLETE|
|       7130|2013-07-25 00:00:...|       6|       COMPLETE|
|       4530|2013-07-25 00:00:...|       7|       COMPLETE|
|       2911|2013-07-25 00:00:...|       8|     PROCESSING|
|       5657|2013-07-25 00:00:...|       9|PENDING_PAYMENT|
|       5648|2013-07-25 00:00:...|      10|PENDING_PAYMENT|
|        918|2013-07-25 00:00:...|      11| PAYMENT_REVIEW|
|       1837|2013-07-25 00:00:...|      12|         CLOSED|
|       9149|2013-07-25 00:00:...|      13|PENDING_PAYMENT|
|       9842|2013-07-25 00:00:...|      14|     PROCESSING|
|       2568|2013-07-25 00:00:...|      15|       COMPLETE|
|       7276|2013-07-25 00:00:...|      16|PENDING_PAYMENT|
|       2667|2013-07-25 00:00:...|      17|       COMPLETE|
|       1205|2013-07-25 00:00:...|      18|         CLOSED|
|       9488|2013-07-25 00:00:...|      19|PENDING_PAYMENT|
|       9198|2013-07-25 00:00:...|      20|     PROCESSING|
+-----------+--------------------+--------+---------------+
only showing top 20 rows

In [58]:
spark.sql("""desc extended 009490_retail.orders_ext""").show(truncate=0)

+----------------------------+------------------------------------------------------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                                                               |comment|
+----------------------------+------------------------------------------------------------------------------------------------------------------------+-------+
|customer_id                 |string                                                                                                                  |null   |
|order_date                  |string                                                                                                                  |null   |
|order_id                    |string                                                                                                                  |null   |
|order_status                |string                                                                                                                  |null   |
|                            |                                                                                                                        |       |
|# Detailed Table Information|                                                                                                                        |       |
|Database                    |009490_retail                                                                                                           |       |
|Table                       |orders_ext                                                                                                              |       |
|Owner                       |itv009490                                                                                                               |       |
|Created Time                |Sun Oct 29 05:48:36 EDT 2023                                                                                            |       |
|Last Access                 |UNKNOWN                                                                                                                 |       |
|Created By                  |Spark 3.1.2                                                                                                             |       |
|Type                        |EXTERNAL                                                                                                                |       |
|Provider                    |json                                                                                                                    |       |
|Location                    |hdfs://m01.itversity.com:9000/public/trendytech/orders_wh.json/part-00000-68544d18-9a34-443f-bf0e-1dd8103ff94e-c000.json|       |
|Serde Library               |org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe                                                                      |       |
|InputFormat                 |org.apache.hadoop.mapred.SequenceFileInputFormat                                                                        |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat                                                               |       |
+----------------------------+------------------------------------------------------------------------------------------------------------------------+-------+

In [49]:
spark.sql("""drop table 009490_retail.orders_ext""").show()

++
||
++
++

In [95]:
products = spark.read.csv("products/*",header=True,inferSchema=True)

In [96]:
products.show(5,truncate=0)

+---------+--------+---------------------------------------------+-----------+------+-------------------------------------------------------------------------------------+
|ProductID|Category|ProductName                                  |Description|Price |ImageURL                                                                             |
+---------+--------+---------------------------------------------+-----------+------+-------------------------------------------------------------------------------------+
|1        |2       |Quest Q64 10 FT. x 10 FT. Slant Leg Instant U|null       |59.98 |http://images.acmesports.sports/Quest+Q64+10+FT.+x+10+FT.+Slant+Leg+Instant+Up+Canopy|
|2        |2       |Under Armour Men's Highlight MC Football Clea|null       |129.99|http://images.acmesports.sports/Under+Armour+Men%27s+Highlight+MC+Football+Cleat     |
|3        |2       |Under Armour Men's Renegade D Mid Football Cl|null       |89.99 |http://images.acmesports.sports/Under+Armour+Men%27s+Renegade+D+Mid+Football+Cleat   |
|4        |2       |Under Armour Men's Renegade D Mid Football Cl|null       |89.99 |http://images.acmesports.sports/Under+Armour+Men%27s+Renegade+D+Mid+Football+Cleat   |
|5        |2       |Riddell Youth Revolution Speed Custom Footbal|null       |199.99|http://images.acmesports.sports/Riddell+Youth+Revolution+Speed+Custom+Football+Helmet|
+---------+--------+---------------------------------------------+-----------+------+-------------------------------------------------------------------------------------+
only showing top 5 rows

In [97]:
products.printSchema()

root
 |-- ProductID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- ProductName: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Price: string (nullable = true)
 |-- ImageURL: string (nullable = true)

In [98]:
products.createOrReplaceTempView("products")

In [99]:
res = products.select("productID").count()
res

1346

In [100]:
res = spark.sql("""select count(productID) from products""")
res.show()

+----------------+
|count(productID)|
+----------------+
|            1346|
+----------------+

In [93]:
spark.stop()

In [101]:
res = products.select("category").distinct().count()
res

56

In [102]:
spark.sql("""select count(distinct category) from products""").show()

+------------------------+
|count(DISTINCT category)|
+------------------------+
|                      56|
+------------------------+

In [103]:
res = products.select("Price","ProductName","Category","ImageURL").sort("Price",ascending=False)
res.show(5,truncate=0)

+------+---------------------------------------------+--------+------------------------------------------------------------------------------------------+
|Price |ProductName                                  |Category|ImageURL                                                                                  |
+------+---------------------------------------------+--------+------------------------------------------------------------------------------------------+
|Price |ProductName                                  |Category|ImageURL                                                                                  |
|999.99|SOLE E25 Elliptical                          |4       |http://images.acmesports.sports/SOLE+E25+Elliptical                                       |
|999.99|SOLE E25 Elliptical                          |22      |http://images.acmesports.sports/SOLE+E25+Elliptical                                       |
|999.99|SOLE E25 Elliptical                          |10      |http://images.acmesports.sports/SOLE+E25+Elliptical                                       |
|999.99|Callaway Women's Solaire Gems 20-Piece Comple|32      |http://images.acmesports.sports/Callaway+Women%27s+Solaire+Gems+20-Piece+Complete+Set+-...|
+------+---------------------------------------------+--------+------------------------------------------------------------------------------------------+
only showing top 5 rows

In [85]:
products.show()

+---------+--------+--------------------+-----------+------+--------------------+
|ProductID|Category|         ProductName|Description| Price|            ImageURL|
+---------+--------+--------------------+-----------+------+--------------------+
|        1|       2|Quest Q64 10 FT. ...|       null| 59.98|http://images.acm...|
|        2|       2|Under Armour Men'...|       null|129.99|http://images.acm...|
|        3|       2|Under Armour Men'...|       null| 89.99|http://images.acm...|
|        4|       2|Under Armour Men'...|       null| 89.99|http://images.acm...|
|        5|       2|Riddell Youth Rev...|       null|199.99|http://images.acm...|
|        6|       2|Jordan Men's VI R...|       null|134.99|http://images.acm...|
|        7|       2|Schutt Youth Recr...|       null| 99.99|http://images.acm...|
|        8|       2|Nike Men's Vapor ...|       null|129.99|http://images.acm...|
|        9|       2|Nike Adult Vapor ...|       null|  50.0|http://images.acm...|
|       10|       2|Under Armour Men'...|       null|129.99|http://images.acm...|
|       11|       2|Fitness Gear 300 ...|       null|209.99|http://images.acm...|
|       12|       2|Under Armour Men'...|       null|139.99|http://images.acm...|
|       13|       2|Under Armour Men'...|       null| 89.99|http://images.acm...|
|       14|       2|Quik Shade Summit...|       null|199.99|http://images.acm...|
|       15|       2|Under Armour Kids...|       null| 59.99|http://images.acm...|
|       16|       2|Riddell Youth 360...|       null|299.99|http://images.acm...|
|       17|       2|Under Armour Men'...|       null|129.99|http://images.acm...|
|       18|       2|Reebok Men's Full...|       null| 29.97|http://images.acm...|
|       19|       2|Nike Men's Finger...|       null|124.99|http://images.acm...|
|       20|       2|Under Armour Men'...|       null|129.99|http://images.acm...|
+---------+--------+--------------------+-----------+------+--------------------+
only showing top 20 rows

In [104]:
res = products.filter("price>'100'").groupBy("category").count()
res.show()

+--------+-----+
|category|count|
+--------+-----+
|       7|   24|
|      51|   24|
|      15|   24|
|      54|   24|
|      11|   24|
|      29|   24|
|      42|    4|
|       3|   23|
|      30|   24|
|      34|   24|
|      59|   24|
|       8|   24|
|      22|   24|
|      16|   24|
|      35|   24|
|      52|   23|
|      47|   24|
|      43|   24|
|       5|   24|
|      31|   24|
+--------+-----+
only showing top 20 rows

In [111]:
res = products.filter("category = 5 and price > 200 ").select("productname","price")
res.show(truncate=0)

+------------------------------------------------+------+
|productname                                     |price |
+------------------------------------------------+------+
|"Goaliath 54"" In-Ground Basketball Hoop with P"|499.99|
|Fitness Gear 300 lb Olympic Weight Set          |209.99|
|Teeter Hang Ups NXT-S Inversion Table           |299.99|
+------------------------------------------------+------+

In [112]:
customers = spark.read.csv("customers/customers_wh.csv",header=True,inferSchema=True)
customers.printSchema()

root
 |-- cust_id: integer (nullable = true)
 |-- cust_fname: string (nullable = true)
 |-- cust_lname: string (nullable = true)
 |-- cust_email: string (nullable = true)
 |-- cust_password: string (nullable = true)
 |-- cust_street: string (nullable = true)
 |-- cust_city: string (nullable = true)
 |-- cust_state: string (nullable = true)
 |-- cust_zipcode: integer (nullable = true)

In [113]:
customers.show(5,truncate=0)

+-------+----------+----------+----------+-------------+-----------------------+-----------+----------+------------+
|cust_id|cust_fname|cust_lname|cust_email|cust_password|cust_street            |cust_city  |cust_state|cust_zipcode|
+-------+----------+----------+----------+-------------+-----------------------+-----------+----------+------------+
|1      |Richard   |Hernandez |XXXXXXXXX |XXXXXXXXX    |6303 Heather Plaza     |Brownsville|TX        |78521       |
|2      |Mary      |Barrett   |XXXXXXXXX |XXXXXXXXX    |9526 Noble Embers Ridge|Littleton  |CO        |80126       |
|3      |Ann       |Smith     |XXXXXXXXX |XXXXXXXXX    |3422 Blue Pioneer Bend |Caguas     |PR        |725         |
|4      |Mary      |Jones     |XXXXXXXXX |XXXXXXXXX    |8324 Little Common     |San Marcos |CA        |92069       |
|5      |Robert    |Hudson    |XXXXXXXXX |XXXXXXXXX    |10 Crystal River Mall  |Caguas     |PR        |725         |
+-------+----------+----------+----------+-------------+-----------------------+-----------+----------+------------+
only showing top 5 rows

In [115]:
customers.createOrReplaceTempView("customers")

In [118]:
spark.sql("""select cust_state,count(*) as cnt from customers group by cust_state """).show(truncate=0)

+----------+----+
|cust_state|cnt |
+----------+----+
|AZ        |213 |
|SC        |41  |
|LA        |63  |
|MN        |39  |
|NJ        |219 |
|DC        |42  |
|OR        |119 |
|VA        |136 |
|RI        |15  |
|KY        |35  |
|MI        |254 |
|NV        |103 |
|WI        |64  |
|ID        |9   |
|CA        |2012|
|CT        |73  |
|MT        |7   |
|NC        |150 |
|MD        |164 |
|DE        |23  |
+----------+----+
only showing top 20 rows

In [119]:
res = customers.groupby("cust_state").count()
res.show()

+----------+-----+
|cust_state|count|
+----------+-----+
|        AZ|  213|
|        SC|   41|
|        LA|   63|
|        MN|   39|
|        NJ|  219|
|        DC|   42|
|        OR|  119|
|        VA|  136|
|        RI|   15|
|        KY|   35|
|        MI|  254|
|        NV|  103|
|        WI|   64|
|        ID|    9|
|        CA| 2012|
|        CT|   73|
|        MT|    7|
|        NC|  150|
|        MD|  164|
|        DE|   23|
+----------+-----+
only showing top 20 rows

In [120]:
res = customers.groupby("cust_lname").count()
res.sort("count",ascending=False).show(5,truncate=0)

+----------+-----+
|cust_lname|count|
+----------+-----+
|Smith     |4626 |
|Johnson   |76   |
|Williams  |69   |
|Jones     |65   |
|Brown     |62   |
+----------+-----+
only showing top 5 rows

In [121]:
spark.sql("""select cust_lname,count(*) as count from customers group by cust_lname order by count desc limit 5 """).show()

+----------+-----+
|cust_lname|count|
+----------+-----+
|     Smith| 4626|
|   Johnson|   76|
|  Williams|   69|
|     Jones|   65|
|     Brown|   62|
+----------+-----+

In [131]:
res = customers.filter("length(cust_zipcode)<>5")
res.show()

+-------+----------+----------+----------+-------------+--------------------+-------------+----------+------------+
|cust_id|cust_fname|cust_lname|cust_email|cust_password|         cust_street|    cust_city|cust_state|cust_zipcode|
+-------+----------+----------+----------+-------------+--------------------+-------------+----------+------------+
|      3|       Ann|     Smith| XXXXXXXXX|    XXXXXXXXX|3422 Blue Pioneer...|       Caguas|        PR|         725|
|      5|    Robert|    Hudson| XXXXXXXXX|    XXXXXXXXX|10 Crystal River ...|       Caguas|        PR|         725|
|      6|      Mary|     Smith| XXXXXXXXX|    XXXXXXXXX|3151 Sleepy Quail...|      Passaic|        NJ|        7055|
|      7|   Melissa|    Wilcox| XXXXXXXXX|    XXXXXXXXX|9453 High Concession|       Caguas|        PR|         725|
|      8|     Megan|     Smith| XXXXXXXXX|    XXXXXXXXX|3047 Foggy Forest...|     Lawrence|        MA|        1841|
|      9|      Mary|     Perez| XXXXXXXXX|    XXXXXXXXX| 3616 Quaking Street|       Caguas|        PR|         725|
|     11|      Mary|   Huffman| XXXXXXXXX|    XXXXXXXXX|    3169 Stony Woods|       Caguas|        PR|         725|
|     13|      Mary|   Baldwin| XXXXXXXXX|    XXXXXXXXX|7922 Iron Oak Gar...|       Caguas|        PR|         725|
|     16|   Tiffany|     Smith| XXXXXXXXX|    XXXXXXXXX|      6651 Iron Port|       Caguas|        PR|         725|
|     19| Stephanie|  Mitchell| XXXXXXXXX|    XXXXXXXXX|3543 Red Treasure...|       Caguas|        PR|         725|
|     20|      Mary|     Ellis| XXXXXXXXX|    XXXXXXXXX|      4703 Old Route|West New York|        NJ|        7093|
|     21|   William| Zimmerman| XXXXXXXXX|    XXXXXXXXX|3323 Old Willow M...|       Caguas|        PR|         725|
|     22|    Joseph|     Smith| XXXXXXXXX|    XXXXXXXXX|7740 Broad Fox Vi...| North Bergen|        NJ|        7047|
|     23|  Benjamin|    Duarte| XXXXXXXXX|    XXXXXXXXX|8811 High Horse I...|     San Juan|        PR|         921|
|     24|      Mary|     Smith| XXXXXXXXX|    XXXXXXXXX| 9417 Emerald Towers|       Caguas|        PR|         725|
|     27|      Mary|   Vincent| XXXXXXXXX|    XXXXXXXXX|1768 Sleepy Zephy...|       Caguas|        PR|         725|
|     30|   Barbara|     Smith| XXXXXXXXX|    XXXXXXXXX|   2455 Merry Hollow|       Caguas|        PR|         725|
|     32|     Alice|     Smith| XXXXXXXXX|    XXXXXXXXX|   2082 Hidden Green|       Caguas|        PR|         725|
|     34|      Mary|     Smith| XXXXXXXXX|    XXXXXXXXX|3330 Easy Berry R...|       Caguas|        PR|         725|
|     36|  Michelle|     Carey| XXXXXXXXX|    XXXXXXXXX| 6336 Fallen Village|       Caguas|        PR|         725|
+-------+----------+----------+----------+-------------+--------------------+-------------+----------+------------+
only showing top 20 rows

In [134]:
spark.sql("""select *  from customers where length(cust_zipcode) <>5 """).show()

+-------+----------+----------+----------+-------------+--------------------+-------------+----------+------------+
|cust_id|cust_fname|cust_lname|cust_email|cust_password|         cust_street|    cust_city|cust_state|cust_zipcode|
+-------+----------+----------+----------+-------------+--------------------+-------------+----------+------------+
|      3|       Ann|     Smith| XXXXXXXXX|    XXXXXXXXX|3422 Blue Pioneer...|       Caguas|        PR|         725|
|      5|    Robert|    Hudson| XXXXXXXXX|    XXXXXXXXX|10 Crystal River ...|       Caguas|        PR|         725|
|      6|      Mary|     Smith| XXXXXXXXX|    XXXXXXXXX|3151 Sleepy Quail...|      Passaic|        NJ|        7055|
|      7|   Melissa|    Wilcox| XXXXXXXXX|    XXXXXXXXX|9453 High Concession|       Caguas|        PR|         725|
|      8|     Megan|     Smith| XXXXXXXXX|    XXXXXXXXX|3047 Foggy Forest...|     Lawrence|        MA|        1841|
|      9|      Mary|     Perez| XXXXXXXXX|    XXXXXXXXX| 3616 Quaking Street|       Caguas|        PR|         725|
|     11|      Mary|   Huffman| XXXXXXXXX|    XXXXXXXXX|    3169 Stony Woods|       Caguas|        PR|         725|
|     13|      Mary|   Baldwin| XXXXXXXXX|    XXXXXXXXX|7922 Iron Oak Gar...|       Caguas|        PR|         725|
|     16|   Tiffany|     Smith| XXXXXXXXX|    XXXXXXXXX|      6651 Iron Port|       Caguas|        PR|         725|
|     19| Stephanie|  Mitchell| XXXXXXXXX|    XXXXXXXXX|3543 Red Treasure...|       Caguas|        PR|         725|
|     20|      Mary|     Ellis| XXXXXXXXX|    XXXXXXXXX|      4703 Old Route|West New York|        NJ|        7093|
|     21|   William| Zimmerman| XXXXXXXXX|    XXXXXXXXX|3323 Old Willow M...|       Caguas|        PR|         725|
|     22|    Joseph|     Smith| XXXXXXXXX|    XXXXXXXXX|7740 Broad Fox Vi...| North Bergen|        NJ|        7047|
|     23|  Benjamin|    Duarte| XXXXXXXXX|    XXXXXXXXX|8811 High Horse I...|     San Juan|        PR|         921|
|     24|      Mary|     Smith| XXXXXXXXX|    XXXXXXXXX| 9417 Emerald Towers|       Caguas|        PR|         725|
|     27|      Mary|   Vincent| XXXXXXXXX|    XXXXXXXXX|1768 Sleepy Zephy...|       Caguas|        PR|         725|
|     30|   Barbara|     Smith| XXXXXXXXX|    XXXXXXXXX|   2455 Merry Hollow|       Caguas|        PR|         725|
|     32|     Alice|     Smith| XXXXXXXXX|    XXXXXXXXX|   2082 Hidden Green|       Caguas|        PR|         725|
|     34|      Mary|     Smith| XXXXXXXXX|    XXXXXXXXX|3330 Easy Berry R...|       Caguas|        PR|         725|
|     36|  Michelle|     Carey| XXXXXXXXX|    XXXXXXXXX| 6336 Fallen Village|       Caguas|        PR|         725|
+-------+----------+----------+----------+-------------+--------------------+-------------+----------+------------+
only showing top 20 rows

In [135]:
res = customers.filter("length(cust_zipcode)=5").select("cust_id").count()
res

7244

In [136]:
spark.sql("""select count(*) from customers where length(cust_zipcode)=5 """).show()

+--------+
|count(1)|
+--------+
|    7244|
+--------+

In [126]:
res = customers.filter("cust_state = 'CA'").groupby("cust_city").count()
res.show()

+-------------+-----+
|    cust_city|count|
+-------------+-----+
|       Corona|   14|
|    Pittsburg|    4|
|      Compton|   19|
|    Palo Alto|    6|
|      Hanford|    9|
|      Anaheim|   19|
|       Folsom|    6|
|         Napa|    8|
|     Temecula|    6|
|       Reseda|    6|
|    Encinitas|   17|
|    Oceanside|   24|
|    Cupertino|    9|
|      Oakland|    3|
|        Davis|    9|
|      Fontana|   18|
|Mission Viejo|   26|
|       Madera|    5|
|    Elk Grove|   10|
|  Bakersfield|   41|
+-------------+-----+
only showing top 20 rows

In [127]:
spark.sql("""select cust_city,count(*) from customers where cust_state='CA' group by cust_city""").show()

+-------------+--------+
|    cust_city|count(1)|
+-------------+--------+
|       Corona|      14|
|    Pittsburg|       4|
|      Compton|      19|
|    Palo Alto|       6|
|      Hanford|       9|
|      Anaheim|      19|
|       Folsom|       6|
|         Napa|       8|
|     Temecula|       6|
|       Reseda|       6|
|    Encinitas|      17|
|    Oceanside|      24|
|    Cupertino|       9|
|      Oakland|       3|
|        Davis|       9|
|      Fontana|      18|
|Mission Viejo|      26|
|       Madera|       5|
|    Elk Grove|      10|
|  Bakersfield|      41|
+-------------+--------+
only showing top 20 rows