In [1]:
from pyspark.sql import SparkSession

spark = SparkSession\
.builder\
.master("yarn")\
.appName("persist demo")\
.enableHiveSupport()\
.config("spark.sql.warehouse.dir","/user/itv009490/warehouse")\
.getOrCreate()

spark

In [2]:
orders_schema = 'order_id long, order_date date, customer_id long, order_status string'

In [3]:
df = spark.read.format("csv").\
schema(orders_schema).\
load("/public/trendytech/orders/orders_1gb.csv")

In [4]:
from pyspark.storagelevel import StorageLevel

In [5]:
df.persist(StorageLevel(True,False,False,False,1))

+--------+----------+-----------+---------------+
|order_id|order_date|customer_id|   order_status|
+--------+----------+-----------+---------------+
|       1|2013-07-25|      11599|         CLOSED|
|       2|2013-07-25|        256|PENDING_PAYMENT|
|       3|2013-07-25|      12111|       COMPLETE|
|       4|2013-07-25|       8827|         CLOSED|
|       5|2013-07-25|      11318|       COMPLETE|
|       6|2013-07-25|       7130|       COMPLETE|
|       7|2013-07-25|       4530|       COMPLETE|
|       8|2013-07-25|       2911|     PROCESSING|
|       9|2013-07-25|       5657|PENDING_PAYMENT|
|      10|2013-07-25|       5648|PENDING_PAYMENT|
|      11|2013-07-25|        918| PAYMENT_REVIEW|
|      12|2013-07-25|       1837|         CLOSED|
|      13|2013-07-25|       9149|PENDING_PAYMENT|
|      14|2013-07-25|       9842|     PROCESSING|
|      15|2013-07-25|       2568|       COMPLETE|
|      16|2013-07-25|       7276|PENDING_PAYMENT|
|      17|2013-07-25|       2667|       COMPLETE|
|      18|2013-07-25|       1205|         CLOSED|
|      19|2013-07-25|       9488|PENDING_PAYMENT|
|      20|2013-07-25|       9198|     PROCESSING|
+--------+----------+-----------+---------------+
only showing top 20 rows

In [6]:
df.count()

25831125

In [7]:
df.count()

25831125

In [8]:
df.unpersist()

DataFrame[order_id: bigint, order_date: date, customer_id: bigint, order_status: string]

In [9]:
df.count()

25831125

In [10]:
df.persist(StorageLevel(True,True,False,False,2))

DataFrame[order_id: bigint, order_date: date, customer_id: bigint, order_status: string]

In [11]:
df.count()

25831125

In [12]:
df.count()

25831125

In [13]:
df.unpersist()

DataFrame[order_id: bigint, order_date: date, customer_id: bigint, order_status: string]

In [14]:
df.persist(StorageLevel(True,True,False,True,1))

DataFrame[order_id: bigint, order_date: date, customer_id: bigint, order_status: string]

In [15]:
df.count()

25831125

In [16]:
df.unpersist()

DataFrame[order_id: bigint, order_date: date, customer_id: bigint, order_status: string]

In [17]:
df.persist(StorageLevel.DISK_ONLY)

DataFrame[order_id: bigint, order_date: date, customer_id: bigint, order_status: string]

In [18]:
df.count()

25831125