In [1]:
from pyspark.sql import SparkSession

import getpass

username = getpass.getuser()

spark = SparkSession.\
builder. \
config('spark.ui.port','0'). \
config("spark.sql.warehouse.dir", f"/user/{username}/warehouse"). \
enableHiveSupport(). \
master('yarn'). \
getOrCreate()

spark

In [2]:
df = spark.read.format("csv").\
option("header","true").\
option("inferSchema","true").\
load("/public/yelp-dataset/yelp_user.csv")

In [3]:
df.show(5)

+--------------------+------+------------+-------------+--------------------+------+-----+----+----+-----+-------------+--------------+---------------+------------------+---------------+---------------+---------------+----------------+---------------+----------------+-----------------+-----------------+
|             user_id|  name|review_count|yelping_since|             friends|useful|funny|cool|fans|elite|average_stars|compliment_hot|compliment_more|compliment_profile|compliment_cute|compliment_list|compliment_note|compliment_plain|compliment_cool|compliment_funny|compliment_writer|compliment_photos|
+--------------------+------+------------+-------------+--------------------+------+-----+----+----+-----+-------------+--------------+---------------+------------------+---------------+---------------+---------------+----------------+---------------+----------------+-----------------+-----------------+
|JJ-aSuM4pCFPdkfoZ...| Chris|          10|   2013-09-24|0njfJmB-7n84DlIgU...|     0|    0|   0|   0| None|          3.7|             0|              0|                 0|              0|              0|              0|               0|              0|               0|                0|                0|
|uUzsFQn_6cXDh6rPN...| Tiffy|           1|   2017-03-02|                None|     0|    0|   0|   0| None|          2.0|             0|              0|                 0|              0|              0|              0|               0|              0|               0|                0|                0|
|mBneaEEH5EMyxaVyq...|  Mark|           6|   2015-03-13|                None|     0|    0|   0|   0| None|         4.67|             0|              0|                 0|              0|              0|              0|               0|              0|               0|                0|                0|
|W5mJGs-dcDWRGEhAz...|Evelyn|           3|   2016-09-08|                None|     0|    0|   0|   0| None|         4.67|             0|              0|                 0|              0|              0|              0|               0|              0|               0|                0|                0|
|4E8--zUZO1Rr1IBK4...|  Lisa|          11|   2012-07-16|                None|     4|    0|   0|   0| None|         3.45|             0|              0|                 0|              0|              0|              0|               0|              0|               0|                1|                0|
+--------------------+------+------------+-------------+--------------------+------+-----+----+----+-----+-------------+--------------+---------------+------------------+---------------+---------------+---------------+----------------+---------------+----------------+-----------------+-----------------+
only showing top 5 rows

In [4]:
df.printSchema()

root
 |-- user_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- review_count: integer (nullable = true)
 |-- yelping_since: string (nullable = true)
 |-- friends: string (nullable = true)
 |-- useful: integer (nullable = true)
 |-- funny: integer (nullable = true)
 |-- cool: integer (nullable = true)
 |-- fans: integer (nullable = true)
 |-- elite: string (nullable = true)
 |-- average_stars: double (nullable = true)
 |-- compliment_hot: integer (nullable = true)
 |-- compliment_more: integer (nullable = true)
 |-- compliment_profile: integer (nullable = true)
 |-- compliment_cute: integer (nullable = true)
 |-- compliment_list: integer (nullable = true)
 |-- compliment_note: integer (nullable = true)
 |-- compliment_plain: integer (nullable = true)
 |-- compliment_cool: integer (nullable = true)
 |-- compliment_funny: integer (nullable = true)
 |-- compliment_writer: integer (nullable = true)
 |-- compliment_photos: integer (nullable = true)

In [5]:
df = spark.read.format("csv").\
option("header","true").\
option("inferSchema","true").\
option("samplingRatio",.1).\
load("/public/yelp-dataset/yelp_user.csv")

#how much sample of the data do you want it to parse in order to detect the datatypes -- random samples 10% in this case

In [6]:
df.printSchema()

root
 |-- user_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- review_count: integer (nullable = true)
 |-- yelping_since: string (nullable = true)
 |-- friends: string (nullable = true)
 |-- useful: integer (nullable = true)
 |-- funny: integer (nullable = true)
 |-- cool: integer (nullable = true)
 |-- fans: integer (nullable = true)
 |-- elite: string (nullable = true)
 |-- average_stars: double (nullable = true)
 |-- compliment_hot: integer (nullable = true)
 |-- compliment_more: integer (nullable = true)
 |-- compliment_profile: integer (nullable = true)
 |-- compliment_cute: integer (nullable = true)
 |-- compliment_list: integer (nullable = true)
 |-- compliment_note: integer (nullable = true)
 |-- compliment_plain: integer (nullable = true)
 |-- compliment_cool: integer (nullable = true)
 |-- compliment_funny: integer (nullable = true)
 |-- compliment_writer: integer (nullable = true)
 |-- compliment_photos: integer (nullable = true)

In [7]:
df = spark.read.format("csv").\
load("/public/trendytech/datasets/orders_sample1.csv")

In [8]:
df.show()

+---+----------+-----+---------------+
|_c0|       _c1|  _c2|            _c3|
+---+----------+-----+---------------+
|  1|2013-07-25|11599|         CLOSED|
|  2|2013-07-25|  256|PENDING_PAYMENT|
|  3|2013-07-25|12111|       COMPLETE|
|  4|2013-07-25| 8827|         CLOSED|
|  5|2013-07-25|11318|       COMPLETE|
|  6|2013-07-25| 7130|       COMPLETE|
|  7|2013-07-25| 4530|       COMPLETE|
|  8|2013-07-25| 2911|     PROCESSING|
|  9|2013-07-25| 5657|PENDING_PAYMENT|
| 10|2013-07-25| 5648|PENDING_PAYMENT|
+---+----------+-----+---------------+

In [9]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

In [10]:
orders_schema = 'order_id long, order_date date, cust_id long, order_status string'

In [11]:
df = spark.read.format("csv").\
schema(orders_schema).\
load("/public/trendytech/datasets/orders_sample1.csv")

In [12]:
df.printSchema()

root
 |-- order_id: long (nullable = true)
 |-- order_date: date (nullable = true)
 |-- cust_id: long (nullable = true)
 |-- order_status: string (nullable = true)

In [13]:
df.show(5)

+--------+----------+-------+---------------+
|order_id|order_date|cust_id|   order_status|
+--------+----------+-------+---------------+
|       1|2013-07-25|  11599|         CLOSED|
|       2|2013-07-25|    256|PENDING_PAYMENT|
|       3|2013-07-25|  12111|       COMPLETE|
|       4|2013-07-25|   8827|         CLOSED|
|       5|2013-07-25|  11318|       COMPLETE|
+--------+----------+-------+---------------+
only showing top 5 rows

In [14]:
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [15]:
orders_schema_struct = StructType([
    StructField("orderId",LongType()),
    StructField("orderDate",DateType()),
    StructField("custId",IntegerType()),
    StructField("orderStatus",StringType())    
])

In [16]:
df = spark.read.format("csv").\
schema(orders_schema_struct).\
load("/public/trendytech/datasets/orders_sample1.csv")

In [17]:
df.show(5)

+-------+----------+------+---------------+
|orderId| orderDate|custId|    orderStatus|
+-------+----------+------+---------------+
|      1|2013-07-25| 11599|         CLOSED|
|      2|2013-07-25|   256|PENDING_PAYMENT|
|      3|2013-07-25| 12111|       COMPLETE|
|      4|2013-07-25|  8827|         CLOSED|
|      5|2013-07-25| 11318|       COMPLETE|
+-------+----------+------+---------------+
only showing top 5 rows

In [18]:
df.printSchema()

root
 |-- orderId: long (nullable = true)
 |-- orderDate: date (nullable = true)
 |-- custId: integer (nullable = true)
 |-- orderStatus: string (nullable = true)

In [19]:
orders_schema = 'order_id long, order_date date, cust_id long, order_status string'

In [20]:
df = spark.read.format("csv").\
schema(orders_schema).\
load("/public/trendytech/datasets/orders_sample2.csv")

In [21]:
df.printSchema()

root
 |-- order_id: long (nullable = true)
 |-- order_date: date (nullable = true)
 |-- cust_id: long (nullable = true)
 |-- order_status: string (nullable = true)

In [22]:
df = spark.read.format("csv").\
schema(orders_schema).\
option("dateFormat","mm-dd-yyyy").\
load("/public/trendytech/datasets/orders_sample2.csv")

In [23]:
df.show(5)

+--------+----------+-------+---------------+
|order_id|order_date|cust_id|   order_status|
+--------+----------+-------+---------------+
|       1|2013-01-25|  11599|         CLOSED|
|       2|2013-01-25|    256|PENDING_PAYMENT|
|       3|2013-01-25|  12111|       COMPLETE|
|       4|2013-01-25|   8827|         CLOSED|
|       5|2013-01-25|  11318|       COMPLETE|
+--------+----------+-------+---------------+
only showing top 5 rows

In [24]:
! hdfs dfs -cat /public/trendytech/datasets/orders_sample2.csv | tail

1,07-25-2013,11599,CLOSED
2,07-25-2013,256,PENDING_PAYMENT
3,07-25-2013,12111,COMPLETE
4,07-25-2013,8827,CLOSED
5,07-25-2013,11318,COMPLETE
6,07-25-2013,7130,COMPLETE
7,07-25-2013,4530,COMPLETE
8,07-25-2013,2911,PROCESSING
9,07-25-2013,5657,PENDING_PAYMENT
10,07-25-2013,5648,PENDING_PAYMENT

In [25]:
orders_schema = 'order_id long, order_date string, cust_id long, order_status string'

In [26]:
df = spark.read.format("csv").\
schema(orders_schema).\
load("/public/trendytech/datasets/orders_sample2.csv")

In [27]:
df.show()

+--------+----------+-------+---------------+
|order_id|order_date|cust_id|   order_status|
+--------+----------+-------+---------------+
|       1|07-25-2013|  11599|         CLOSED|
|       2|07-25-2013|    256|PENDING_PAYMENT|
|       3|07-25-2013|  12111|       COMPLETE|
|       4|07-25-2013|   8827|         CLOSED|
|       5|07-25-2013|  11318|       COMPLETE|
|       6|07-25-2013|   7130|       COMPLETE|
|       7|07-25-2013|   4530|       COMPLETE|
|       8|07-25-2013|   2911|     PROCESSING|
|       9|07-25-2013|   5657|PENDING_PAYMENT|
|      10|07-25-2013|   5648|PENDING_PAYMENT|
+--------+----------+-------+---------------+

In [28]:
df.printSchema()

root
 |-- order_id: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- cust_id: long (nullable = true)
 |-- order_status: string (nullable = true)

In [29]:
new_df = df.withColumn("order_date",to_date("order_date","mm-dd-yyyy"))

In [30]:
new_df.show(5)

+--------+----------+-------+---------------+
|order_id|order_date|cust_id|   order_status|
+--------+----------+-------+---------------+
|       1|2013-01-25|  11599|         CLOSED|
|       2|2013-01-25|    256|PENDING_PAYMENT|
|       3|2013-01-25|  12111|       COMPLETE|
|       4|2013-01-25|   8827|         CLOSED|
|       5|2013-01-25|  11318|       COMPLETE|
+--------+----------+-------+---------------+
only showing top 5 rows

In [31]:
df = spark.read.format("csv").\
schema(orders_schema).\
option("mode","dropmalformed").\
load("/public/trendytech/datasets/orders_sample3.csv")


#option("mode","dropmalformed").\ -- totally ignore that record where datatype mismatch is there, ex 7 & 9 are ignored

#option("mode","permissive").\ -- by default - marks as null


#option("mode","failfast").\ -- any issues, fail it.

In [32]:
df.show()

+--------+----------+-------+---------------+
|order_id|order_date|cust_id|   order_status|
+--------+----------+-------+---------------+
|       1|2013-07-25|  11599|         CLOSED|
|       2|2013-07-25|    256|PENDING_PAYMENT|
|       3|2013-07-25|  12111|       COMPLETE|
|       4|2013-07-25|   8827|         CLOSED|
|       5|2013-07-25|  11318|       COMPLETE|
|       6|2013-07-25|   7130|       COMPLETE|
|       8|2013-07-25|   2911|     PROCESSING|
|      10|2013-07-25|   5648|PENDING_PAYMENT|
+--------+----------+-------+---------------+

In [33]:
spark.sql("""show databases""").filter("namespace like '%009490%'").show()

+-------------+
|    namespace|
+-------------+
|009490_retail|
+-------------+

In [34]:
spark.sql("""use 009490_retail""").show()
spark.sql("""show tables""").show()
df = spark.sql("""select * from orders_mgd """)
spark.sql("""desc formatted  orders_mgd""").show(truncate=0)

++
||
++
++

+-------------+----------+-----------+
|     database| tableName|isTemporary|
+-------------+----------+-----------+
|009490_retail|orders_mgd|      false|
+-------------+----------+-----------+

+----------------------------+----------------------------------------------------------------------------------+-------+
|col_name                    |data_type                                                                         |comment|
+----------------------------+----------------------------------------------------------------------------------+-------+
|customer_id                 |string                                                                            |null   |
|order_date                  |string                                                                            |null   |
|order_id                    |string                                                                            |null   |
|order_status                |string                                                                            |null   |
|                            |                                                                                  |       |
|# Detailed Table Information|                                                                                  |       |
|Database                    |009490_retail                                                                     |       |
|Table                       |orders_mgd                                                                        |       |
|Owner                       |itv009490                                                                         |       |
|Created Time                |Sun Oct 29 05:48:21 EDT 2023                                                      |       |
|Last Access                 |UNKNOWN                                                                           |       |
|Created By                  |Spark 3.1.2                                                                       |       |
|Type                        |MANAGED                                                                           |       |
|Provider                    |hive                                                                              |       |
|Table Properties            |[transient_lastDdlTime=1698572903]                                                |       |
|Statistics                  |2999944 bytes                                                                     |       |
|Location                    |hdfs://m01.itversity.com:9000/user/itv009490/warehouse/009490_retail.db/orders_mgd|       |
|Serde Library               |org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe                                |       |
|InputFormat                 |org.apache.hadoop.mapred.TextInputFormat                                          |       |
|OutputFormat                |org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat                        |       |
+----------------------------+----------------------------------------------------------------------------------+-------+
only showing top 20 rows

In [35]:
df.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_id: string (nullable = true)
 |-- order_status: string (nullable = true)

In [36]:
new_df = spark.table("009490_retail.orders_mgd")
new_df.show()

+-----------+--------------------+--------+---------------+
|customer_id|          order_date|order_id|   order_status|
+-----------+--------------------+--------+---------------+
|      11599|2013-07-25 00:00:...|       1|         CLOSED|
|        256|2013-07-25 00:00:...|       2|PENDING_PAYMENT|
|      12111|2013-07-25 00:00:...|       3|       COMPLETE|
|       8827|2013-07-25 00:00:...|       4|         CLOSED|
|      11318|2013-07-25 00:00:...|       5|       COMPLETE|
|       7130|2013-07-25 00:00:...|       6|       COMPLETE|
|       4530|2013-07-25 00:00:...|       7|       COMPLETE|
|       2911|2013-07-25 00:00:...|       8|     PROCESSING|
|       5657|2013-07-25 00:00:...|       9|PENDING_PAYMENT|
|       5648|2013-07-25 00:00:...|      10|PENDING_PAYMENT|
|        918|2013-07-25 00:00:...|      11| PAYMENT_REVIEW|
|       1837|2013-07-25 00:00:...|      12|         CLOSED|
|       9149|2013-07-25 00:00:...|      13|PENDING_PAYMENT|
|       9842|2013-07-25 00:00:...|      14|     PROCESSING|
|       2568|2013-07-25 00:00:...|      15|       COMPLETE|
|       7276|2013-07-25 00:00:...|      16|PENDING_PAYMENT|
|       2667|2013-07-25 00:00:...|      17|       COMPLETE|
|       1205|2013-07-25 00:00:...|      18|         CLOSED|
|       9488|2013-07-25 00:00:...|      19|PENDING_PAYMENT|
|       9198|2013-07-25 00:00:...|      20|     PROCESSING|
+-----------+--------------------+--------+---------------+
only showing top 20 rows

In [37]:
spark.range(0,11,2)

+---+
| id|
+---+
|  0|
|  2|
|  4|
|  6|
|  8|
| 10|
+---+

In [38]:
!hdfs dfs -cat /public/trendytech/retail_db/orders/part-00000 | head

1,2013-07-25 00:00:00.0,11599,CLOSED
2,2013-07-25 00:00:00.0,256,PENDING_PAYMENT
3,2013-07-25 00:00:00.0,12111,COMPLETE
4,2013-07-25 00:00:00.0,8827,CLOSED
5,2013-07-25 00:00:00.0,11318,COMPLETE
6,2013-07-25 00:00:00.0,7130,COMPLETE
7,2013-07-25 00:00:00.0,4530,COMPLETE
8,2013-07-25 00:00:00.0,2911,PROCESSING
9,2013-07-25 00:00:00.0,5657,PENDING_PAYMENT
10,2013-07-25 00:00:00.0,5648,PENDING_PAYMENT
cat: Unable to write to output stream.

In [39]:
orders_raw = [(1,'2013-07-25 00:00:00.0',11599,'CLOSED'),
(2,'2013-07-25 00:00:00.0',256,'PENDING_PAYMENT'),
(3,'2013-07-25 00:00:00.0',12111,'COMPLETE')]

In [40]:
schema1 = 'order_id,order_date,cust_id,order_status'

In [41]:
orders_df = spark.createDataFrame(orders_raw)

In [42]:
orders_df.printSchema()

root
 |-- _1: long (nullable = true)
 |-- _2: string (nullable = true)
 |-- _3: long (nullable = true)
 |-- _4: string (nullable = true)

In [43]:
orders_df = spark.createDataFrame(orders_raw).toDF("order_id","order_date","cust_id","order_status")
orders_df.show()
orders_df.printSchema()

#2 step process

+--------+--------------------+-------+---------------+
|order_id|          order_date|cust_id|   order_status|
+--------+--------------------+-------+---------------+
|       1|2013-07-25 00:00:...|  11599|         CLOSED|
|       2|2013-07-25 00:00:...|    256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|  12111|       COMPLETE|
+--------+--------------------+-------+---------------+

root
 |-- order_id: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- cust_id: long (nullable = true)
 |-- order_status: string (nullable = true)

In [44]:
new_df = orders_df.toDF("order_id","order_date","cust_id","orderStatus")
new_df.show()

+--------+--------------------+-------+---------------+
|order_id|          order_date|cust_id|    orderStatus|
+--------+--------------------+-------+---------------+
|       1|2013-07-25 00:00:...|  11599|         CLOSED|
|       2|2013-07-25 00:00:...|    256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|  12111|       COMPLETE|
+--------+--------------------+-------+---------------+

In [45]:
orders_schema = ["order_id","order_date","cust_id","order_status"]

In [46]:
df = spark.createDataFrame(orders_raw,orders_schema)
df.show()
df.printSchema()

+--------+--------------------+-------+---------------+
|order_id|          order_date|cust_id|   order_status|
+--------+--------------------+-------+---------------+
|       1|2013-07-25 00:00:...|  11599|         CLOSED|
|       2|2013-07-25 00:00:...|    256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|  12111|       COMPLETE|
+--------+--------------------+-------+---------------+

root
 |-- order_id: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- cust_id: long (nullable = true)
 |-- order_status: string (nullable = true)

In [47]:
orders_schema = 'order_id long, order_date string, cust_id int, order_status string'
df = spark.createDataFrame(orders_raw,orders_schema)
df.show()
df.printSchema()

+--------+--------------------+-------+---------------+
|order_id|          order_date|cust_id|   order_status|
+--------+--------------------+-------+---------------+
|       1|2013-07-25 00:00:...|  11599|         CLOSED|
|       2|2013-07-25 00:00:...|    256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|  12111|       COMPLETE|
+--------+--------------------+-------+---------------+

root
 |-- order_id: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- cust_id: integer (nullable = true)
 |-- order_status: string (nullable = true)

In [48]:
from pyspark.sql.functions import *

In [49]:
df = df.withColumn("order_date_new",to_timestamp("order_date"))
df.show(truncate=0)
df.printSchema()

+--------+---------------------+-------+---------------+-------------------+
|order_id|order_date           |cust_id|order_status   |order_date_new     |
+--------+---------------------+-------+---------------+-------------------+
|1       |2013-07-25 00:00:00.0|11599  |CLOSED         |2013-07-25 00:00:00|
|2       |2013-07-25 00:00:00.0|256    |PENDING_PAYMENT|2013-07-25 00:00:00|
|3       |2013-07-25 00:00:00.0|12111  |COMPLETE       |2013-07-25 00:00:00|
+--------+---------------------+-------+---------------+-------------------+

root
 |-- order_id: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- cust_id: integer (nullable = true)
 |-- order_status: string (nullable = true)
 |-- order_date_new: timestamp (nullable = true)

In [50]:
orders_rdd=spark.sparkContext.textFile("/public/trendytech/retail_db/orders/part-00000")
orders_rdd.take(5)

['1,2013-07-25 00:00:00.0,11599,CLOSED',
 '2,2013-07-25 00:00:00.0,256,PENDING_PAYMENT',
 '3,2013-07-25 00:00:00.0,12111,COMPLETE',
 '4,2013-07-25 00:00:00.0,8827,CLOSED',
 '5,2013-07-25 00:00:00.0,11318,COMPLETE']

In [51]:
orders_rdd_2=orders_rdd.map(lambda x : (int(x.split(",")[0]),x.split(",")[1],int(x.split(",")[2]),x.split(",")[3]))

In [52]:
orders_rdd_2.take(5)

[(1, '2013-07-25 00:00:00.0', 11599, 'CLOSED'),
 (2, '2013-07-25 00:00:00.0', 256, 'PENDING_PAYMENT'),
 (3, '2013-07-25 00:00:00.0', 12111, 'COMPLETE'),
 (4, '2013-07-25 00:00:00.0', 8827, 'CLOSED'),
 (5, '2013-07-25 00:00:00.0', 11318, 'COMPLETE')]

In [53]:
rdd_df = orders_rdd_2.toDF(schema=['order_id','order_date','cust_id','order_status'])
rdd_df.show()

+--------+--------------------+-------+---------------+
|order_id|          order_date|cust_id|   order_status|
+--------+--------------------+-------+---------------+
|       1|2013-07-25 00:00:...|  11599|         CLOSED|
|       2|2013-07-25 00:00:...|    256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|  12111|       COMPLETE|
|       4|2013-07-25 00:00:...|   8827|         CLOSED|
|       5|2013-07-25 00:00:...|  11318|       COMPLETE|
|       6|2013-07-25 00:00:...|   7130|       COMPLETE|
|       7|2013-07-25 00:00:...|   4530|       COMPLETE|
|       8|2013-07-25 00:00:...|   2911|     PROCESSING|
|       9|2013-07-25 00:00:...|   5657|PENDING_PAYMENT|
|      10|2013-07-25 00:00:...|   5648|PENDING_PAYMENT|
|      11|2013-07-25 00:00:...|    918| PAYMENT_REVIEW|
|      12|2013-07-25 00:00:...|   1837|         CLOSED|
|      13|2013-07-25 00:00:...|   9149|PENDING_PAYMENT|
|      14|2013-07-25 00:00:...|   9842|     PROCESSING|
|      15|2013-07-25 00:00:...|   2568|       COMPLETE|
|      16|2013-07-25 00:00:...|   7276|PENDING_PAYMENT|
|      17|2013-07-25 00:00:...|   2667|       COMPLETE|
|      18|2013-07-25 00:00:...|   1205|         CLOSED|
|      19|2013-07-25 00:00:...|   9488|PENDING_PAYMENT|
|      20|2013-07-25 00:00:...|   9198|     PROCESSING|
+--------+--------------------+-------+---------------+
only showing top 20 rows

In [54]:
orders_schema = 'order_id long, order_date string, cust_id int, order_status string'

In [55]:
df=spark.createDataFrame(orders_rdd_2,orders_schema)
df.show()

+--------+--------------------+-------+---------------+
|order_id|          order_date|cust_id|   order_status|
+--------+--------------------+-------+---------------+
|       1|2013-07-25 00:00:...|  11599|         CLOSED|
|       2|2013-07-25 00:00:...|    256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|  12111|       COMPLETE|
|       4|2013-07-25 00:00:...|   8827|         CLOSED|
|       5|2013-07-25 00:00:...|  11318|       COMPLETE|
|       6|2013-07-25 00:00:...|   7130|       COMPLETE|
|       7|2013-07-25 00:00:...|   4530|       COMPLETE|
|       8|2013-07-25 00:00:...|   2911|     PROCESSING|
|       9|2013-07-25 00:00:...|   5657|PENDING_PAYMENT|
|      10|2013-07-25 00:00:...|   5648|PENDING_PAYMENT|
|      11|2013-07-25 00:00:...|    918| PAYMENT_REVIEW|
|      12|2013-07-25 00:00:...|   1837|         CLOSED|
|      13|2013-07-25 00:00:...|   9149|PENDING_PAYMENT|
|      14|2013-07-25 00:00:...|   9842|     PROCESSING|
|      15|2013-07-25 00:00:...|   2568|       COMPLETE|
|      16|2013-07-25 00:00:...|   7276|PENDING_PAYMENT|
|      17|2013-07-25 00:00:...|   2667|       COMPLETE|
|      18|2013-07-25 00:00:...|   1205|         CLOSED|
|      19|2013-07-25 00:00:...|   9488|PENDING_PAYMENT|
|      20|2013-07-25 00:00:...|   9198|     PROCESSING|
+--------+--------------------+-------+---------------+
only showing top 20 rows

In [75]:
#nested schema --schema_ddl & structype - we have 2 ways

In [57]:
!hdfs dfs -ls /public/trendytech/datasets/customer_nested

Found 3 items
-rw-r--r--   3 itv005857 supergroup          0 2023-05-18 17:40 /public/trendytech/datasets/customer_nested/_SUCCESS
-rw-r--r--   3 itv005857 supergroup         90 2023-05-18 17:40 /public/trendytech/datasets/customer_nested/part-00000-950ffc21-f8aa-4e00-8181-8ab726051097-c000.json
-rw-r--r--   3 itv005857 supergroup        173 2023-05-18 17:40 /public/trendytech/datasets/customer_nested/part-00001-950ffc21-f8aa-4e00-8181-8ab726051097-c000.json

In [61]:
!hdfs dfs -cat /public/trendytech/datasets/customer_nested/part-00000-950ffc21-f8aa-4e00-8181-8ab726051097-c000.json

{"customer_id":1,"fullname":{"firstname":"sumit","lastname":"mittal"},"city":"bangalore"}

In [65]:
schema_ddl = "customer_id long, fullname struct <firstname:string, lastname:string>, city string"

In [67]:
cust_df = spark.read\
.format("json")\
.schema(schema_ddl)\
.load("/public/trendytech/datasets/customer_nested/*")

cust_df.show()

+-----------+----------------+---------+
|customer_id|        fullname|     city|
+-----------+----------------+---------+
|          2|    {ram, kumar}|hyderabad|
|          3|{vijay, shankar}|     pune|
|          1| {sumit, mittal}|bangalore|
+-----------+----------------+---------+

In [68]:
cust_df.printSchema()

root
 |-- customer_id: long (nullable = true)
 |-- fullname: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- city: string (nullable = true)

In [72]:
structype_schema = StructType([
    StructField("customer_id",LongType()),
    StructField("fullname",StructType([
        StructField("firstname",StringType()),
        StructField("lastname",StringType())
    ])),
    StructField("city",StringType())
])

In [73]:
cust_df = spark.read\
.format("json")\
.schema(structype_schema)\
.load("/public/trendytech/datasets/customer_nested/*")

cust_df.show()

+-----------+----------------+---------+
|customer_id|        fullname|     city|
+-----------+----------------+---------+
|          2|    {ram, kumar}|hyderabad|
|          3|{vijay, shankar}|     pune|
|          1| {sumit, mittal}|bangalore|
+-----------+----------------+---------+

In [74]:
cust_df.printSchema()

root
 |-- customer_id: long (nullable = true)
 |-- fullname: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- city: string (nullable = true)

In [76]:
customer_list = [
    (1,("udhhav","arora"),"Hyd"),
    (2,("ram","kumar"),"Blr"),
    (3,("vijay","gupta"),"PNQ")]

In [77]:
cust_df = spark.createDataFrame(customer_list,structype_schema)
cust_df.show()

+-----------+---------------+----+
|customer_id|       fullname|city|
+-----------+---------------+----+
|          1|{udhhav, arora}| Hyd|
|          2|   {ram, kumar}| Blr|
|          3| {vijay, gupta}| PNQ|
+-----------+---------------+----+

In [78]:
cust_df.printSchema()

root
 |-- customer_id: long (nullable = true)
 |-- fullname: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- city: string (nullable = true)